includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    editorUrlTitle: '%%relFile%%:%%line%%'
    phpVersion: 70400
    paths:
        - plugin-name.php
        - src/
    scanFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        # WP-CLI accepts a class as callable
        - '/^Parameter #2 \$callable of static method WP_CLI::add_command\(\) expects callable\(\): mixed, \S+ given\.$/'
