includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - tests/phpstan/constants.php
    paths:
        - plugin-name.php
        - plugin-name-php-5.3.php
        - src/
    ignoreErrors:
        # Variable loaded from wp-includes/version.php
        -
            message: '#^Undefined variable: \$wp_version$#'
            count: 1
            path: src/Requirements.php
