name: "Check commit authors on GitHub"

on: pull_request

jobs:
  commit-author:
    name: "Check commit Authors"
    # No Debian https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-latest
    env:
      GITHUB_API_USER_SEARCH: "https://api.github.com/search/users"
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # https://help.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context
      - name: "Get commit email addresses and query GitHub API"
        run: |
          git show --no-patch --pretty="format:%ae" "${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}" \
            | sort -u \
            | xargs -I "%" -- curl -s -G --data-urlencode "q=type:user in:email %" "${GITHUB_API_USER_SEARCH}" \
            | grep -Fx '  "total_count": 1,'
